<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
		   <bean id="Sir_Galahad" class="group52.comp3004.cards.Ally">
		   <property  name = "name" value = "Sir_Galahad"/>
		   <property name ="bp" value ="0"/>
		   </bean>
		   
		   <bean id="Sir_Lancelot" class="group52.comp3004.cards.Ally">
		   <property  name = "name" value = "Sir_Lancelot"/>
		   <property name ="bp" value ="15" />
		   </bean>
		   
		   <bean id="King_Arthur" class="group52.comp3004.cards.Ally">
		   <property  name = "name" value = "King_Arthur"/>
		   <property name ="bp" value ="15" />
		   
		   </bean> 
		   <bean id="Sir_Tristan" class="group52.comp3004.cards.Ally">
		   <property  name = "name" value = "Sir_Tristan"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		      <bean id="King_Pellinore" class="group52.comp3004.cards.Ally">
		   <property  name = "name" value = "King_Pellinore"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		      <bean id="Sir_Gawain" class="group52.comp3004.cards.Ally">
		   <property  name = "name" value = "Sir_Gawain"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		      <bean id="Sir_Percival" class="group52.comp3004.cards.Ally">
		   <property  name = "name" value = "Sir_Percival"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		         <bean id="Queen_Guinevere" class="group52.comp3004.cards.Ally">
		   <property  name = "name" value = "Queen_Guinevere"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		            <bean id="Queen_Iseult" class="group52.comp3004.cards.Ally">
		   <property  name = "name" value = "Queen_Iseult"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		   
		       <bean id="Merlin" class="group52.comp3004.cards.Ally">
		   <property  name = "name" value = "Merlin"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		          <bean id="Excalibur" class="group52.comp3004.cards.Weapon">
		   <property  name = "name" value = "Excalibur"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		             <bean id="Lance" class="group52.comp3004.cards.Weapon">
		   <property  name = "name" value = "Lance"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		             <bean id="Battle_Ax" class="group52.comp3004.cards.Weapon">
		   <property  name = "name" value = "Battle_Ax"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		             <bean id="Sword" class="group52.comp3004.cards.Weapon">
		   <property  name = "name" value = "Sword"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		             <bean id="Horse" class="group52.comp3004.cards.Weapon">
		   <property  name = "name" value = "Horse"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		  <bean id="Dagger" class="group52.comp3004.cards.Weapon">
		   <property  name = "name" value = "Dagger"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		  <bean id="Dragon" class="group52.comp3004.cards.Foe">
		   <property  name = "name" value = "Dragon"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		   <bean id="Giant" class="group52.comp3004.cards.Foe">
		   <property  name = "name" value = "Giant"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		    <bean id="Mordred" class="group52.comp3004.cards.Foe">
		   <property  name = "name" value = "Mordred"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		    <bean id="Green_Knight" class="group52.comp3004.cards.Foe">
		   <property  name = "name" value = "Green_Knight"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		    <bean id="Black_Knight" class="group52.comp3004.cards.Foe">
		   <property  name = "name" value = "Black_Knight"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		    <bean id="Evil_Knight" class="group52.comp3004.cards.Foe">
		   <property  name = "name" value = "Evil_Knight"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		   <bean id="Saxon_Knight" class="group52.comp3004.cards.Foe">
		   <property  name = "name" value = "Saxon_Knight"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		   <bean id="Robber_Knight" class="group52.comp3004.cards.Foe">
		   <property  name = "name" value = "Robber_Knight"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		    <bean id="Saxons" class="group52.comp3004.cards.Foe">
		   <property  name = "name" value = "Saxons"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		    <bean id="Boar" class="group52.comp3004.cards.Foe">
		   <property  name = "name" value = "Boar"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		    <bean id="Thieves" class="group52.comp3004.cards.Foe">
		   <property  name = "name" value = "Thieves"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		   <bean id="Valor" class="group52.comp3004.cards.Foe">
		   <property  name = "name" value = "Valor"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		   
		  	<bean id="Temptation" class="group52.comp3004.cards.Tests">
		   <property  name = "name" value = "Temptation"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		   
		   		  	<bean id="Morgan_Le_Fey" class="group52.comp3004.cards.Tests">
		   <property  name = "name" value = "Morgan_Le_Fey"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		   
		   		  	<bean id="Questing_Beast" class="group52.comp3004.cards.Tests">
		   <property  name = "name" value = "Questing_Beast"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		   
		   		  	<bean id="Amour" class="group52.comp3004.cards.Tests">
		   <property  name = "name" value = "Amour"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		   		   		  	<bean id="Camelot" class="group52.comp3004.cards.Tourneys">
		   <property  name = "name" value = "Camelot"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		   		   		  	<bean id="Orkney" class="group52.comp3004.cards.Tourneys">
		   <property  name = "name" value = "Orkney"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		   		   		  	<bean id="Tintagel" class="group52.comp3004.cards.Tourneys">
		   <property  name = "name" value = "Tintagel"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		   		   		  	<bean id="York" class="group52.comp3004.cards.Tourneys">
		   <property  name = "name" value = "York"/>
		   <property name ="bp" value ="15"/>
		   </bean>
		   <bean id= "Call_to_Arms" class = "group52.comp3004.cards.Arms">
		   </bean> 
		  
		   <bean id= "Called_to_Camelot" class = "group52.comp3004.cards.Camelot">
		   </bean>
		   
		   <bean id= "Chivalrous_Deed" class = "group52.comp3004.cards.Deed">
		   </bean>
		   
		   <bean id= "Queen's_Favor" class = "group52.comp3004.cards.Favor">
		   </bean>
		   
		   <bean id= "Plague" class = "group52.comp3004.cards.Plague">
		   </bean>
		   		   <bean id= "Pox" class = "group52.comp3004.cards.Plague">
		   </bean>
		   		   <bean id= "" class = "group52.comp3004.cards.QuestCard">
		   </bean>
		   
		   <bean id= "Amour" class = "group52.comp3004.cards.Amour">
		   </bean>
</beans>
